@charset "utf-8"; /*文字コード指定　文字化け防止*/
/*///////////////////////////////////////////////////////////////////////////*/
/*1.共通*/
/*///////////////////////////////////////////////////////////////////////////*/
/*ボックスサイズの計算方法を指定*/
*{
  box-sizing: border-box; /*どのブラウザも強制的に標準のボックスモデルにする*/
}

body{
  color:#4d4d4d;
  font-size: 14px;
  font-family:メイリオ,Meiryo,"ヒラギノ角ゴ pro W3","Hiragino Kaku GothicPro",
  "MS Pゴシック",sans-serif;
  line-height: 1.6;
}

/*リンクの基本スタイル*/
a{
  color:#007del;
  transition: 0.5s;
}

/*リンクにマウスが乗った時のスタイル*/
a:hover{
  opacity:0.7;
}

/*画像の基本スタイル*/
img{
  vertical-align:bottom;/*隙間なく画像がそろうための指定*/
}

/*３等分で横並び*/
.col-4{
  width:33.33%;
}

/*写真のフレーム*/
.photoframe{
  border:1px solid #eeeeee;
  border-radius: 4px;
  box-shadow:1px 1px 1px #999999;
  padding:;15px;
}

/*段落の基本スタイルbusiness.html*/
p{
  padding-bottom:1.5em;
}

/*2等分で横並び*/
.col-6{
  width:50%;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*2.レイアウト*/
/*///////////////////////////////////////////////////////////////////////////*/
#wrapper{
  margin: 0 auto;
  width:960px;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*3.ヘッダー*/
/*///////////////////////////////////////////////////////////////////////////*/

/*エリア外枠のスタイル*/
header{
  padding-top:15px;
  padding-bottom:25px;
}

/*見出しのスタイル*/
h1{
  color:#999999;
  font-size:12px;
  font-weight:normal;
  margin-bottom:15px;
}

/*ロゴのスタイル*/
#header_logo img{
  width:300px;
  height:60px;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*4.グローバルナビゲーション*/
/*///////////////////////////////////////////////////////////////////////////*/

/*エリア外枠のスタイル*/
#gNav{
  margin-bottom: 25px;

}

/*メニューリストを囲む枠*/
#gNav ul{
  display:-webkit-flex;/*safari用*/
  display:flex;
}

/*メニューリストの共通のスタイル*/
#gNav li{
  border-left:1px solid #7dceec;
  height:45px;
  text-align:center;
  width:25%;
}

/*一番右のメニューリストのスタイル*/
#gNav li:last-child{
  border-right:1px solid #7dceec;
}
/*メニューのリンクスタイル*/
#gNav a{
  color:#4d4d4d;
  display:block;
  font-size:11px;
  height:45px;
  line-height:2;
  text-decoration:none;
}

/*メニューのにマウスを乗せた時のスタイル*/
#gNav a:hover{
  background-color: #BDF5FE;
}

/*メニューの英文字(Home等)スタイル*/
#gNav a span{
color:#007del;
display:block;
font-family:arial;
font-size:10px;
}

/*現在ページのメニュースタイル*/
#gNav .current-menu-item a, #gNav .current-menu-item a span{
background-color: #2AA8E5;
color:#ffffff;
}
/*この上コピーすればGnavコピペできる///////////////////////////*/


/*///////////////////////////////////////////////////////////////////////////*/
/*5.コンテンツ*/
/*///////////////////////////////////////////////////////////////////////////*/

/*①エリア内枠のスタイル*/
#contents .inner{
  margin-bottom: 25px;
}

/*③中見出し/////////////////business.html contact.htmlと共通///////////////////*/
h2{
  background-color: #2AA8E5;
  color:#ffffff;
  font-size:18px;
  margin-bottom: 25px;
  padding:0.5em 1em;
}
/*/////////////////////////////////////////////////////////////////////////*

/*⑦小見出し/////////////////business.htmlと共通///////////////////////////////*/
h3{
  border:1px solid #eeeeee;
  border-radius:4px;
  box-shadow:1px 1px 1px #999999;
  font-weight:bold;
  margin-bottom: 25px;
  padding:0.2em 1em;
}
/*///////////////////////////////////////////////////////////////////////////*/

/*⑥事業内容のボックス*/
.biz-box{
  padding:0 25px;
  margin-bottom:40px;
}

/*⑦事業内容の見出し*/
.biz-box h3{
  text-align:center;
}
/*⑧事業内容の画像*/
.biz-box img{
  margin-bottom: 25px;
  width:100%;
}

/*-------------------------------------------------------------------------*/
/*6.フッター*/
/*///////////////////////////////////////////////////////////////////////////*/
/*下コピーすればフッターコピペつくれる*/
/*エリア外枠のスタイル*/
#footer{
  background-color:#2AA8E5;
  color:#ffffff;
  padding:25px;
  display:-webkit-flex; /*safari用*/
  display:flex;
}

/*エリア左側のボックス*/
#footer-left{
  width:300px;
}

/*エリア右側のボックス*/
#footer-right{
  width:610px;
}

/*ロゴ*/
#footer-logo img{
  margin-bottom: 15px;
  width:230px;
  height:40px;
}

/*会社所在地*/
#addres{
  font-size:12px;
}

/*著作権表記*/
#copyright{
  display:block;
  text-align:right;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*7.フッターナビゲーション*/
/*///////////////////////////////////////////////////////////////////////////*/
/*エリア外枠のスタイル*/

#fNav{
  margin-bottom:30px;
}

/*メニューリストを囲む枠*/
#fNav ul{
  disply:-webkit-flex;/*safari用*/
  display:flex;
  width:518px;
  margin-left: auto;
}

/*メニューリストの共通のスタイル*/
#fNav li{
  padding: 0 15px;
  border-right:1px solid #ffffff;
}

/*一番最後のメニュー*/
#fNav li:last-child{
  border-right:none;
  padding-right: 0;
}

/*メニューリンクの共通のスタイル*/
#fNav a{
  color:#ffffff;
  text-decoration: none;
}

/*メニューリンクにマウスを乗せたときのスタイル*/
#fNav a:hover{
  background-color: #ffffff;
  color:#2AA8E5;
  opacity:1;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*8.トップページ専用スタイル  index.html*/
/*///////////////////////////////////////////////////////////////////////////*/


/*②メイン画像*/
.main_visual{
  width:100%;
}
/*④新着情報のリスト*/
#news li{
  border-bottom: 1px dotted #aaaaaa;
  padding:0.2em;
}
/*⑤事業内容の枠 index.html/business.htmlと共通/////////////////////////////////*/
#our-business{
  display:-webkit-flex;
  display:flex;
  -webkit-flex-warp:warp; /*safari用*/
  flex-wrap:wrap;
}
/*///////////////////////////////////////////////////////////////////////////*/




/*///////////////////////////////////////////////////////////////////////////*/
/*事業内容ページ専用スタイル*/
/*///////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////*/
/*10.会社概要ページ専用スタイル about.html*/
/*///////////////////////////////////////////////////////////////////////////*/

/*③会社概要のテーブル*/
#company-prof{
  margin:0 auto;
  width:80%;
}

/*④⑤会社概要のテーブルセル*/
#company-prof th,#company-prof td{
  border:1px solid #2AA8E5;
  padding:1em;
}

/*④会社概要の見出しセル*/
#company-prof th{
  white-space:nowarp;
  background-color: #2AA8E5;
  color:#ffffff;
  border-bottom: 1px solid #ffffff;
}

/*⑥最終行の見出しセルの境界線を着色*/
#company-prof tr:last-child th{
  border-bottom:1px solid #2AA8E5;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*11.プライバシーポリシーページ専用スタイル policy.html*/
/*///////////////////////////////////////////////////////////////////////////*/

#our-policy ol{
  margin-bottom:25px;
}

#our-policy li{

  list-style:decimal inside;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*12.お問い合わせページ専用スタイル contact.html/*
/*--------------------------------------------------------------------------*/

#mail-form iframe{
  width:100%;
  height:1100px;
}

/* ------------------------------------------------ */
/* レスポンシブ（768px以上のタブレット/PC）
/* ------------------------------------------------ */

@media only screen and (min-width:768px){

  /* ------------------------------------------------ */
  /*1.共通*/
  /* ------------------------------------------------ */

  /* ｐC専用コンテンツを表示 */
  .pc {
    display: block;
  }

  /* スマホ専用コンテンツを非表示 */
  .sp {
    display: none;
  }
}

/* --------------------------------------------------- */
/* レスポンシブ(767px以下のスマホ)
/* ---------------------------------------------------- */
@media only screen and (max-width:767px){
  /* --------------------------------------------------- */
  /* 1.共通
  /* ---------------------------------------------------- */

  /*　ｐｃ専用コンテンツを非表示　*/
  .pc {
    display: none;
  }

  /* スマホ専用コンテンツを表示　*/
  .sp {
    display: block;
  }

  /* グリッド型のボックスを縦並びにする　*/
  .col-4, .col-6, .col-8{
    display: block;
    width: 100%;
  }

  /* ----------------------------------------------------- */
  /* 2.レイアウト
  /*　--------------------------------------------------*/

  /*ページ全体を画面の横幅に合わせる　*/
  #wrapper{
    width: 100%;
  }

/* -----------------------------------------------------------*/
/*　3.ヘッダー*/
/*　-----------------------------------------------------------　*/

/*見出しを非表示*/
h1{
  display:none;
}

/*　ロゴを中央よせ　*/
#header_logo {
  text-align: center;
}
/*------------------------------------------------------*/
/* 4.グローバルナビゲーション*/
/*------------------------------------------------------*/

/*----------------------------------------------------*/
/*　5.コンテンツ*/
/*　-------------------------------------------------*/

/*　エリア内枠のスタイル*/
#contents .inner{
  padding:0 0.5em;
}

/* 見出しを左右中央よせ*/
h2{
  text-align:center;
  font-size:16px;
}

/*事業内容のボックス*/
.biz-box{
  padding:0 0;
}

/*------------------------------------------------*/
/*6.フッター*/
/*---------------------------------------------------*/

/*エリアの外枠*/
footer{
  display:block;
  padding:25px 10px;
}

/*エリア左側のボックス*/

#footer-left{
  margin-bottom:15px;
  text-align:center;
  width:100%;
}

/*エリア右側のボックス*/
#footer-right{
  width:100%;
}

/*著作権表記*/
#copyright{
  text-align:center;
  font-size:12px;
}

/*------------------------------------------------*/
/* 7.フッターナビゲーション/*
/*---------------------------------------------*/

/*メニューを縦並びにする*/
#fNav ul{
  display:block;
  width:100%;
}

/*各メニュー要素の装飾*/
#fNav li{
  background-color:#ffffff;
  margin-bottom:1px;
  position:relative;
  padding:10px;
}

/*各メニューのリンク領域を枠いっぱいにひろげて上下中央よせ*/

#fNav a{
  color:#2AA8E5;
  display:block;
}

/*各メニュー右端のリンクボタン*/
#fNav li:after{
  background-color: #2AA8E5;
  border:2px solid #ffffff;
  border-radius: 50%;
  content:'>';
  height:20px;
  line-height:20px;
  padding:0;
  position:absolute;
  right:7px;
  top:10px;
  width:20px;
  text-align:center;

}

/*一番最後のメニューにもリンクボタン*/
#fNav li:last-child:after{
  content:'>';
}
/*-------------------------------------------*/
/*8.トップページ専用スタイル*/
/*------------------------------------------------*/

/*メインビジュアル*/
#contents .inner#main_visual{
  padding:0 0;
}

/*事業内容*/
#our-business{
  display:block;
}

/*-------------------------------------------------*/
/*9.事業内容ページ専用スタイル*/
/*--------------------------------------------------*/

/*------------------------------------------------*/
/*10.会社概要ページ専用スタイル*/
/*----------------------------------------------------*/

/*表を枠いっぱいにひろげる*/
#company-prof{
  width:100%;
}

/*表の各セルをブロック要素にして縦並びにする*/
#company-prof th,#company-prof td{
  display:block;
}

/*表の見出しセル*/
#company-prof th{
  border:1px solid #eeeeee;
  border-radius:4px;
  box-shadow:1px 1px 1px #999999;
  font-weight:bold;
  padding:.2em 1em;
  background-color: #ffffff;
  color:initial;
  text-align:left;

}
/*最終行の見出しセルは境界線を表示しない*/
#company-prof td{
  border:none;
}



/*------------------------------------------*/
/*11.プライバシーポリシーページ専用スタイル*/
/*-----------------------------------------------*/

/*--------------------------------------------------*/
/*12.お問い合わせページ専用スタイル*/
/*-----------------------------------------------------*/
}

/*-----------------------------------------------------------*/
/*13.javascript jquery*/
/*-----------------------------------------------------------*/
/*画像出現アニメ―しょん*/
.image{
  display:none;
}

/*スライドショー*/
.space {
	position: relative;


}

.slideshow img {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: 1s; /* フェードの時間(秒) */
	width: 960px; /* 画像の横幅 */
	height: 480px; /* 画像の縦幅 */

}

.slideshow .show {
	opacity: 1;
	z-index: 1;
}

.space{
  width:960px;
  height:505px;
}
